/* CSS FOR ABOUT-CARD */

.about-card {
  padding: 0.8rem;
  cursor: pointer;
  width: 16rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: all 2s;
  margin: 1rem !important;
}
.about-card img {
  transition: all 1s;
}

/* CSS TO MAKE CARD SLIGHLY INCREASE IN SIZE ON HOVERING */
.about-card:hover {
  transform: scale(1.1);
}

/* CSS TO KEEP IMAGE SIZE SAME */
.fix-ht {
  height: 16rem;
  width: 16rem;
}

/* TO JUSTIFY-ALL-CARDS-IN-CENTER FOR ALL DEVICES */
.flexer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icon {
  font-size: 30px;
  margin-right: 10px;
}

.card-text-wrapper {
  display: inline-block;
  background-color: white;
}

.card-custom {
  background-color: white;
  display: inline-flex;
  padding: 5px 2rem;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  border-radius: 10px;
  min-width: 200px;
  transition: all 0.3s ease-in-out;
}

.card-custom h4,
.card-custom p {
  margin: 0;
}

.card-custom:hover {
  transform: translateY(-5%);
  -webkit-box-shadow: 29px 32px 71px -42px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 29px 32px 71px -42px rgba(0, 0, 0, 0.7);
  box-shadow: 29px 32px 71px -42px rgba(0, 0, 0, 0.7);
}

.card-icon {
  /* margin-right: 10px; */
  color: rgb(56, 56, 123);
}

.contributor {
  font-weight: bolder;
}



/*Animation on social media started*/


.wrapper .button{
  display: inline-block;
  height: 40px;
  width: 40px;
  float: left;
  margin: 0 13px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 132px;
  background-color: #12C6FF;
  /*margin-top: 30px;*/
}
.wrapper .button .icon{
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 40px;
  transition: all 0.3s ease-out;
}


/*Text inside icons*/

.wrapper .button:nth-child(1):hover .icon{          
  background: #333;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #0077b5;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #7289DA;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 45px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 800;
  line-height: 40px;
  margin-left: 10px;
  /*margin-left: 6px;*/
  transition: all 0.3s ease-out;

}

/*Text inside icons*/

.wrapper .button:nth-child(1) span{        
  color: #fff;
  margin-left: 6px;
}
.wrapper .button:nth-child(2) span{
  color:  #fff;
  margin-left: 0px;
}
.wrapper .button:nth-child(3) span{
  color: #fff;
  margin-left: 6px;
}

/*Text inside icons*/



.wrapper .button:nth-child(1).icon{          
  background: #333;
}
.wrapper .button:nth-child(2).icon{
  background: #0077b5;
}
.wrapper .button:nth-child(3).icon{
  background: #7289DA;
}



/*Animation on social media closed*/

