html {
  scroll-behavior: smooth; /* -- added smooth scrolling behaviour -- */
}
@keyframes hidePreloader {
  0% {
    width: 100%;
    height: 100%;
  }

  100% {
    width: 0;
    height: 0;
  }
}

.float {
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes float {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

body > div.preloader {
  position: fixed;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 1071;
  opacity: 0;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

body:not(.loaded) > div.preloader {
  opacity: 1;
}

body:not(.loaded) {
  overflow: hidden;
}

body.loaded > div.preloader {
  animation: hidePreloader 0.5s linear 0.5s forwards;
}

.min-height-300 {
  min-height: 300px;
}

/*scroll to top button */
.disappear {
  opacity: 0;
}
.appear {
  opacity: 1;
}
.buttonclass {
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 50px;
  width: 50px;
}

#back-top {
  z-index: 213424235423 !important;
}
