html {
  scroll-behavior: smooth; /* -- added smooth scrolling behaviour -- */
}
@keyframes hidePreloader {
  0% {
    width: 100%;
    height: 100%;
  }

  100% {
    width: 0;
    height: 0;
  }
}

.float {
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
/* .box:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 3));
  transition: filter 500ms;
} */

@keyframes float {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

body > div.preloader {
  position: fixed;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 1071;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

body:not(.loaded) > div.preloader {
  opacity: 1;
}

body:not(.loaded) {
  overflow: hidden;
}

body.loaded > div.preloader {
  animation: hidePreloader 0.5s linear 0.5s forwards;
}

.min-height-300 {
  min-height: 300px;
}
.navbar {
  padding: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 100%;
  background-color: transparent !important;
}
/*scroll to top button */
.disappear {
  opacity: 0;
}
.appear {
  opacity: 1;
}
.buttonclass {
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 50px;
  width: 50px;
}

#back-top {
  z-index: 213424235423 !important;
}

/* cover-page-styles */
.typeeffect{
  overflow: hidden;
  white-space: nowrap;
  animation: 
  typing 3s steps(40, end) forwards;
  font-size: 1.6rem;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 65% }
}

.cover-section {
  height: 100vh;
  background-color: #008aff;
}

.dot-shapes {
  bottom: 20px;
  margin-left: 180px;
}

.cover-title {
  font-weight: 900 !important;
  line-height: 1.1 !important;
}
.cover-title > strong {
  font-weight: 900 !important;
}
.hero-shape5 {
  position: absolute;
  right: 5%;
  z-index: 1;
  top: 22%;
  opacity: 0.3;
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}
.hero-shape1 {
  position: absolute;
  top: 65%;
  left: 2%;
  -webkit-animation: rotaed360 4s infinite linear;
  animation: rotaed360 4s infinite linear;
  z-index: 1;
}
.hero-shape2 {
  position: absolute;
  top: 20%;
  left: 40%;
  -webkit-animation: animationFramesOne 15s linear infinite;
  animation: animationFramesOne 15s infinite alternate;
  z-index: 1;
}
.hero-shape3 {
  position: absolute;
  top: 74%;
  left: 30%;
  -webkit-animation: animationFramesOne 10s linear infinite;
  animation: animationFramesOne 10s infinite infinite;
  z-index: 1;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@-webkit-keyframes rotaed360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotaed360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@media (min-width: 576px) and (max-width: 576px) {
  .box {
    display: none;
  }
  .hero-shape2 {
    display: none;
  }
  .hero-shape1 {
    top: 50%;
  }
  .dot-shapes {
    display: none;
  }
  .left-box {
    display: flex;
    flex-direction: column;
    height: 60vh;
  }
  .wave {
    width: calc(100% + 30%);
    height: 50%;
    background-color: #008aff;
  }
  .cover-section {
    height: 100vh;
    background-color: #fff;
  }
  .navbar-logo {
    margin-left: -30px;
    margin-top: -20px;
    width: 120px !important;
  }
  .cover-title {
    font-weight: 900 !important;
    line-height: 1.1 !important;
  }
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #00c6ff);
  border-radius: 6px;
}

/* LOGIN PAGE */
.password-container {
  position: relative;
}
.password-container i {
  position: absolute;
  right: 10px;
  bottom: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.features {
  background-color: #e0f0ff5e !important;
}
.default-shape .shape-1 {
  position: absolute;
  right: 10%;
  top: 16%;
  -webkit-animation: animationFrameOne 20s infinite linear;
  animation: animationFrameOne 20s infinite linear;
}
.default-shape .shape-2 {
  position: absolute;
  left: 10%;
  top: 16%;
  -webkit-animation: rotaed360 5s infinite linear;
  animation: rotaed360 5s infinite linear;
}
.default-shape .shape-3 {
  position: absolute;
  left: 5%;
  bottom: 25%;
  -webkit-animation: animationFrameOne 20s infinite linear;
  animation: animationFrameOne 20s infinite linear;
}
.default-shape .shape-4 {
  position: absolute;
  right: 10%;
  bottom: 25%;
  -webkit-animation: animationFrameOne 20s infinite linear;
  animation: animationFrameOne 20s infinite linear;
}
.default-shape .shape-5 {
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-animation: animationFrameOne 20s infinite linear;
  animation: animationFrameOne 20s infinite linear;
}
@keyframes animationFrameOne {
  0% {
    transform: translate(0) rotate(0);
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    transform: translate(0) rotate(0);
  }
}

@keyframes rotateClockwise {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateCounterClockwise {
  100% {
    transform: rotate(-360deg);
  }
}
.ring {
  position: absolute;
  left: 99.5%;
  top: 50px;
  margin-left: -100px;
  height: 200px;
  width: 200px;
  border: 5px dashed #757575;
  border-radius: 50%;
}
.dot {
  position: absolute;
  height: 250px;
  width: 40px;
  top: -25px;
  left: 50%;
  margin-left: -20px;
}
.dot:before {
  display: block;
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.dot--one {
  animation: rotateClockwise 5s linear infinite;
}
.dot--one:before {
  background: #ffbe3d;
  height: 100px;
  width: 100px;
}
.dot--two {
  animation: rotateCounterClockwise 3s linear infinite;
}
.dot--two:before {
  background: #5cc9a7;
  height: 50px;
  width: 50px;
}
.ring2 {
  position: absolute;
  left: 0%;
  margin-left: -100px;
  height: 200px;
  width: 200px;
  border: 5px dashed #757575;
  border-radius: 50%;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: #fff;
  padding: 60px 0;
}
.team .member {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
}
.team .member .member-img:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url(../img/team-shape.svg) no-repeat center bottom;
  background-size: contain;
  z-index: 1;
}
.team .member .social {
  position: absolute;
  right: -100%;
  top: 30px;
  opacity: 0;
  border-radius: 4px;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.3);
  z-index: 2;
}
.team .member .social a {
  transition: color 0.3s;
  color: rgba(1, 41, 112, 0.5);
  margin: 15px 12px;
  display: block;
  line-height: 0;
  text-align: center;
}
.team .member .social a:hover {
  color: rgba(1, 41, 112, 0.8);
}
.team .member .social i {
  font-size: 18px;
}
.team .member .member-info {
  padding: 10px 15px 20px 15px;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #012970;
}
.team .member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #aaaaaa;
}
.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: #5e5e5e;
}
.team .member:hover {
  transform: scale(1.08);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.team .member:hover .social {
  right: 8px;
  opacity: 1;
}

/*Animation on social media started*/

.wrapper .button {
  display: inline-block;
  height: 40px;
  width: 40px;
  float: left;
  margin: 0 13px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover {
  width: 132px;
  background-color: #12c6ff;
  /*margin-top: 30px;*/
}
.wrapper .button .icon {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 40px;
  transition: all 0.3s ease-out;
}

/*Text inside icons*/

.wrapper .button:nth-child(1):hover .icon {
  background: #333;
}
.wrapper .button:nth-child(2):hover .icon {
  background: #0077b5;
}
.wrapper .button:nth-child(3):hover .icon {
  background: #7289da;
}
.wrapper .button .icon i {
  font-size: 25px;
  line-height: 45px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
  color: #fff;
}
.wrapper .button span {
  font-size: 20px;
  font-weight: 800;
  line-height: 40px;
  margin-left: 10px;
  /*margin-left: 6px;*/
  transition: all 0.3s ease-out;
}

/*Text inside icons*/

.wrapper .button:nth-child(1) span {
  color: #fff;
  margin-left: 6px;
}
.wrapper .button:nth-child(2) span {
  color: #fff;
  margin-left: 0px;
}
.wrapper .button:nth-child(3) span {
  color: #fff;
  margin-left: 6px;
}

/*Text inside icons*/

.wrapper .button:nth-child(1).icon {
  background: #333;
}
.wrapper .button:nth-child(2).icon {
  background: #0077b5;
}
.wrapper .button:nth-child(3).icon {
  background: #7289da;
}

/*Animation on social media closed*/

/* Auth Container Style Starts */

.auth-container {
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.171) 0px 5px 15px;
  border-radius: 20px;
  background-position: center center;
}
.auth-left {
  height: 100%;
  width: 100%;

  background-image: url(../assets/img/svg/illustrations/auth.svg),
    linear-gradient(90deg, rgb(102, 189, 255) 10%, rgb(155, 231, 246) 100%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.auth-right {
  padding-left: 120px !important;
  padding-right: 120px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

#form1Example13,
#form1Example23 {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px !important;
  width: 100% !important;
}
#form1Example13 {
  border-bottom-color: #008aff !important;
}
.password-container i {
  color: #1b98f5;
  bottom: 12px !important;
}
