* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "lato", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  background-color: #ecf0f3;
}
.regis-div {
  margin: 0;
  padding: 0;
  width: 450px;
  height: 680px;
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}
.top {
  width: 100%;
  font-size: 40px;
  color: #051367;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  position: relative;
  left: 20%;
}

.fields {
  width: 100%;
  padding: 20px 5px 5px 5px;
}
h1 {
  font-size: 15px;
}
.fields input {
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
  color: #555;
  padding: 15px 8px 15px 5px;
}
.box {
  margin-bottom: 5px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.fields svg {
  height: 22px;
  margin: 0 10px -3px 25px;
}
.signin-button {
  margin-top: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 55px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
  background: #24cfaa;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
}
.signin-button:hover {
  background: #4fd3c4;
  /*2fdbb6*/
}
.signin-button:active {
  background: #1da88a;
}
.link {
  text-align: center;
}
.link a {
  text-decoration: none;
  color: #42c2ff;
  font-size: 15px;
}
.link a:hover {
  color: #4fd3c4;
}
input [type="text"] {
  width: 100%;
}
