.heading {
	margin-top: 100px;
	margin-left: 170px;
	font-size: 80px !important;
	color: #33a1ff;
	font-weight: 500;
}

.card {
	overflow: hidden;
	margin: 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	border-radius: 25px;
	margin-top: 100px;
	background-color: #383838;
}

.image {
	padding-top: 10px;
}

.about {
	margin-left: 170px;
	margin-top: 0px;
	font-size: 20px;
	font-weight: 500;
}

.subheading {
	font-size: 25px;
	font-weight: 500;
	color: #fff;
}

.layout {
	display: flex !important;
	justify-content: space-evenly !important;
	align-items: center;
}
